<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%=form_for @user do |f| %>

 <%= f.label :username %>:
  <%= f.text_field :username %><br />

  <%= f.label :fname %>:
  <%= f.text_field :fname %><br />

  <%= f.label :lname %>:
  <%= f.text_field :lname %><br />

   <%= f.label :email %>:
  <%= f.text_field :email %><br />

   <%= f.label :password %>:
  <%= f.text_field :password %><br />

  <%= f.submit %>
<% end %>
