



<h1>Username: <%= @user.username %></h1>
<h2>First Name:<%= @user.fname %></h2>
<h2>Last Name:<%= @user.lname %></h2>
<h3 >Email:<%= @user.email %></h3>

<%= link_to "Edit", edit_user_path(@user) %>